@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"] {
  color: black;
}

input {
  font-family: sans-serif;  
}

@font-face {
  font-family: 'Subjectivity';
  src: url('/Subjectivity/Subjectivity-Medium.woff2') format('woff2')
}

body {
  font-family: 'Subjectivity', sans-serif;
}